$sky: #03afea
$dark-sky: #01a0de
$sunset: #f4664c
$ocean: #1fc5c3
$beach: #f4c74c
$dark-gray: #555
$black-ish: #181818
// change primary color
$primary-color: $sky !default
$primary-color-light: lighten($primary-color, 15%) !default
$primary-color-dark: darken($primary-color, 15%) !default
$tabs-underline-color: $primary-color-light !default
$tabs-text-color: $primary-color !default
$footer-bg-color: $primary-color !default

// _global
blockquote
  border-left: 5px solid $primary-color

.pagination
  li
    a
      color: #444

    &.active a
      color: #fff

    &.active
      background-color: $primary-color

    &.disabled a
      cursor: default
      color: #999

// _navbar
nav
  background-color: $primary-color

// _sideNav
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active
  background-color: $primary-color

// _tabs
.tabs
  .tab
    a
      color: $tabs-text-color

      &:hover
        color: lighten($tabs-text-color, 20%)

    &.disabled a
      color: lighten($tabs-text-color, 20%)

  .indicator
    background-color: $tabs-underline-color

// Footer
footer.page-footer
  background-color: $footer-bg-color

//colors
.sky
  background-color: $sky
  color: white
.sky-font
  color: $sky
.dark-sky
  background-color: $dark-sky
  color: white
.dark-sky-font
  color: $dark-sky
.sunset
  background-color: $sunset
  color: white
.sunset-font
  color: $sunset
.ocean
  background-color: $ocean
  color: white
.ocean-font
  color: $ocean
.sunset
  background-color: $sunset
  color: white
.sunset-font
  color: $sunset
.beach
  background-color: $beach
  color: white
.beach-font
  color: $beach
.whitesmoke
  background-color: whitesmoke
  color: #555
  h5
    color: $sky

//grays
.black-ish
  background-color: $black-ish
  color: white
.dark-gray
  background-color: $dark-gray
  color: white
.dark-gray-font
  color: $dark-gray
.gray
  background-color: gray
  color: white
.gray-font
  color: gray
.silver
  background-color: silver
  color: white
.silver-font
  color: silver
.gainsboro
  background-color: gainsboro
.gainsboro-font
  color: gainsboro
.whitesmoke
  background-color: whitesmoke
  color: #555
  h5
    color: $sky

