#!/usr/bin/env ruby

compile '/index.haml' do
  filter :haml
  layout '/default.*'
  write '/index.html'
end

compile '/**/*.haml' do
  filter :haml
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '**/*.sass' do
  filter :sass
  filter :relativize_paths, :type => :css
  write item.identifier.without_exts + '.css'
end

compile '**/*.scss' do
  filter :sass, syntax: :scss
  filter :relativize_paths, :type => :css
  write item.identifier.without_exts + '.css'
end

compile '**/*.coffee' do
  filter :coffeescript
  write item.identifier.without_exts + '.js'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :haml
