---
title: About
---
#about-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.headline
      %span
        %b Over ons
#page-section-team.section.scrollspy
  .container
    %h2.header.text_b wij:
    .row
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/erwin/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Erwin
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Erwin Veermans, MSc
              %i.mdi-navigation-close.right
            %p Technisch projectleider
            %p ICT-er / Natuurkundige
            %p Mede-oprichter
            %p erwin@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/sjoerd/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Sjoerd
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Sjoerd Sytema, PhD
              %i.mdi-navigation-close.right
            %p Inhoudelijk projectleider
            %p Socioloog
            %p Mede-oprichter
            %p sjoerd@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/jorn/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Jorn
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Jorn van de Beek, BSc
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p jorn@roqua.nl
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/herman/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Herman
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Herman Hegeman, BAS
              %i.mdi-navigation-close.right
            %p Systeembeheerder
            %p herman@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/marten/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Marten
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Marten Veldthuis, MSc
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p marten@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image
            %img{:src => @items['/images/henk/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Henk
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Henk van der Veen, BSc
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p henk@roqua.nl
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/ivan/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Ivan
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Ivan Malykh, BICT.
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p ivan@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/rivka/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Rivka
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Rivka de Vries, dr
              %i.mdi-navigation-close.right
            %p Developer
            %p Statisticus
            %p rivka@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/ellen/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Ellen
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Ellen Visser, PhD
              %i.mdi-navigation-close.right
            %p Data-analist
            %p Trainer
            %p ellen@roqua.nl
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/inge/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Inge
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Inge ten Vaarwerk, MSc.
              %i.mdi-navigation-close.right
            %p Ontwerp en advies vragenlijsten
            %p inge@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/hester/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Hester
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Hester van Wijk, BFA
              %i.mdi-navigation-close.right
            %p Developer
            %p Designer
            %p hester@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => @items['/images/jij/'].path, class: "activator"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Jij?
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Developer
              %i.mdi-navigation-close.right
            %p
              Wij zijn nog op zoek naar een developer, we nodigen je graag een keertje uit op de
              %a{:href => @items['/career/'].path} thee of koffie!

  .container
    .row
      .col.s12.m12.l9.offset-l1
        %p.thin Het team wordt regelmatig tijdelijk versterkt door een Informatica student van de Hanzehogeschool of de Rijksuniversiteit Groningen die zijn/haar stage of afstudeeronderzoek bij RoQua doet.

  #page-section-achtergrond
  .divider
  .ocean
    .container
      .section
        .row
          .col.s12.m5
            %h2 Academisch
            %p.flow-text RoQua is een academisch project en onderzoek en innovatie spelen daarom een belangrijke rol zoals het samen met statistici ontwikkelen van nieuwe meetmethoden.
            %p.flow-text RoQua participeert inmiddels in een reeks innovatieve onderzoeksprojecten, waarin het routinematig herhaald meten en het klinisch toepassen van de feedback uit de data centraal staan.
          .col.s12.m5.right
            .card-panel.whitesmoke
              %h5 Achtergrond
              %p RoQua komt voort uit het Rob Giel Onderzoekscentrum (RGOc), een samenwerkingsverband tussen de noordelijke GGZ instellingen en het Universitair Centrum Psychiatrie (UCP) van het UMCG.  Daar ontstond het idee om zelf een ROM applicatie te gaan ontwikkelen. Sindsdien hebben ook andere GGZ instellingen zich hierbij aangesloten, waardoor RoQua nu een van de grootse ROM initiatieven in Nederland is.
              %p De participerende instellingen betalen jaarlijks een vast bedrag. Dit is het budget waarmee het RoQua team van het UCP wordt gefinancierd. Dit team zorgt voor een permanente verdere ontwikkeling van de applicatie. De Stuurgroep RoQua (waarin alle participanten zijn vertegenwoordigd) zorgt voor aansturing en controle.

  #page-section-non-profit
  .divider
  .container
    .section
      .row
        %h2.center.header.text_h2
          Non-profit
        %p.flow-text RoQua is een non-profit organisatie en daarom kunnen wij kwaliteit, gebruiksvriendelijkheid, innovatie en onderzoek een centrale plaats geven in ons werk.

