---
title: About
---
#work.section.scrollspy
  .container
    %h2.header.text_b wij:
    .row
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("erwin.jpg", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Erwin
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Erwin Veermans, Ms.
              %i.mdi-navigation-close.right
            %p Technisch projectleider
            %p ICT-er / Natuurkundige
            %p Mede-oprichter
            %p erwin@roqua.nl  
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("sjoerd.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Sjoerd
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Sjoerd Sytema, PhD
              %i.mdi-navigation-close.right
            %p Inhoudelijk projectleider
            %p Socioloog
            %p Mede-oprichter
            %p sjoerd@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("jorn_cc.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Jorn
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Jorn van de Beek
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p jorn@roqua.nl
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("herman.jpg", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Herman
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Herman Hegeman, BAS
              %i.mdi-navigation-close.right
            %p Systeembeheerder
            %p herman@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("inge.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Marten
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Marten Veldthuis
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p marten@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image
            / = image_tag("henk.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Henk
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Henk van der Veen, Msc.
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p henk@roqua.nl
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("ivan.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Ivan
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Ivan Malykh, BICT.
              %i.mdi-navigation-close.right
            %p Developer
            %p Computer Scientist
            %p ivan@roqua.nl    
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("hester.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Hester
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Hester van Wijk, Ba
              %i.mdi-navigation-close.right
            %p Developer
            %p Designer
            %p hester@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("ellen.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Rivka
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Rivka de Vries, MSc.
              %i.mdi-navigation-close.right
            %p Developer
            %p Statisticus
            %p rivka@roqua.nl
      .col.s6.m4.l3.offset-l1
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("rivka.png", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Ellen
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Ellen Visser, PhD
              %i.mdi-navigation-close.right
            %p Data-analist
            %p Trainer
            %p ellen@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("marten.jpg", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Inge
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Inge ten Vaarwerk, MSc.
              %i.mdi-navigation-close.right
            %p Ontwerp en advies vragenlijsten
            %p inge@roqua.nl
      .col.s6.m4.l3
        .card.hoverable
          .card-image.waves-effect.waves-block.waves-light
            / = image_tag("jij.jpg", class: "activator")
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              Jij?
              %i.mdi-navigation-more-vert.right
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              Developer
              %i.mdi-navigation-close.right
            %p 
              Wij zijn nog op zoek naar een developer, we nodigen je graag een keertje uit op de 
              / = link_to 'thee of koffie!', pages_career_path
              link thee koffie

  .container
    .row
      .col.s12.m12.l9.offset-l1
        %p.thin Het team wordt regelmatig tijdelijk versterkt door een Informatica student van de Hanzehogeschool of de Rijksuniversiteit Groningen die zijn/haar stage of afstudeeronderzoek bij RoQua doet.

        %p.thin De standplaats van het RoQua-team is het Universitair Medisch Centrum Groningen.
  .divider
  .ocean
    .container
      .section
        .row
          .col.s12.m5
            %h2 Academisch
            %p.flow-text Blaaa iets over dat Roqua zich blijft ontwikkelen en iets over hoe dat academische dan gaat. 
            %p.flow-text En dat moet ongeveer zo lang zijn. Zoiets als dit. Misschien nog deze laatste paar woorden.
          .col.s12.m5.right
            .card-panel.whitesmoke
              %h5 Achtergrond
              %p RoQua is in 2006 door Sjoerd Sytema en Erwin Veermans onder auspiciën van het Rob Giel Onderzoekcentrum (RGOc) opgericht. Het RGOc is een samenwerkingsverband van de noordelijke GGZ-instellingen en de Rijksuniversiteit Groningen (het Universitair Centrum Psychiatrie van het UMCG) ten behoeve van patiëntgebonden onderzoek in de GGZ. 
              %p Daar is het idee ontstaan om zelf een ROM-applicatie en -infrastructuur te gaan ontwikkelen. Naast een kwalitatief en kostenbesparend voordeel was er ook het voordeel dat de data gebruikt zou kunnen worden voor onderzoek binnen het RGOc. De daaropvolgende jaren is een RoQua-team opgebouwd dat werkt met moderne informaticatechnieken en procedures. Het team is gelocaliseerd in het UMCG.
  .divider
  .container
    .section
      .row
        %h2.center.header.text_h2
          Lorem ipsum dolor
        %p.flow-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

