---
Title: Career
---

#mug-banner.section
  .container
    .row
      .col.s12
        %h1.text_h.center.header.white
          Heb jij ook een leuke mok?
#page-section-career.section.dark-sky
  .container
    .row
      .col.s12
        %h2
          Wij zijn altijd geïnteresseerd in uitbreiding van onze collectie
        %p.flow-text RoQua is altijd geïnteresseerd in getalenteerde en gepassioneerde developers. Lees hieronder meer en kom gerust een keertje kennismaken. En mocht je nou niet nog een mok over hebben, dan vinden we dat geen probleem. Dus kom gewoon eens bij ons op de koffie of thee, met of zonder mok.

#page-section-career-info.section.gray-font
  .container
    .row
      .col.s12
        %h2.text_h.center Waarom jij bij ons wilt werken
      .col.s12.m6.l4.offset-l1
        .dropcap-border.light
          %p Natuurlijk hebben wij het allerleukste team! Wij zijn een team waar je als programmeur heel veel zelfstandigheid en vrijheid hebt. Je mag zelf bedenken hoe je iets wilt aanpakken, daarbij heb je overleg met je collega developers.
          %p Schone code vinden we belangrijk en de code reviews nemen we serieus. We krijgen de tijd om problemen echt goed op te lossen.
          %p Daarnaast mag je bij ons je eigen werktijden bepalen, we vinden dat jij het best kunt werken wanneer jij dat graag wilt. We werken agile-ish.
      .col.s12.m6.l4.offset-l2
        .light.card-panel.whitesmoke
          .row
            %p.normal We werken op een state of the art architectuur met onder andere:
            %ul.col.s12.m6
              %li Ruby on Rails
              %li React
              %li Ansible/Chef
              %li MySQL/PostgreSQL
            %ul.col.s12.m6
              %li Mirth
              %li R/Opencpu
              %li Docker
          .row
            %span.normal We ontwikkelen op iMacs en gebruiken onder andere:
          .row
            %ul.col.s12.m6
              %li GitHub
              %li Flowdock
              %li Pivotal
              %li CircleCI
              %li CodeClimate
            %ul.col.s12.m6
              %li Scout
              %li Appsignal
              %li Browserstack
              %li SparkPost
#page-section-career-you.section.gray-font.light
  .container
    .row
      .col.s12
        %h2.text_h.center Waarom wij jou graag willen
      .col.s12.m6.l4.offset-l1
        .dropcap
          %p Jij bent een opinionated developer. Je houdt van mooie code en van programmeren en wilt je hier altijd in blijven ontwikkelen.
          %p Je hebt kennis van architectuur en development in een agile omgeving met continuous deployment. Kennis van Ruby is natuurlijk mooi meegenomen, maar een goede programmeur is een goede programmeur. Je zal alleen maar beter worden door bij ons Ruby te leren.
      .col.s12.m6.l4.offset-l2
        %p.dropcap-border
          Veel uitdaging krijgen we op het gebied van API's, ontsluiten van gegevens, 24/7 availability en security. De presentatie van data en de distributie via verschillende devices en de impact hiervan op de gebruiker zijn ook vraagstukken waar je aan werkt want de gebruiker staat bij elke vraag voorop.
        %p
          Alles wat wij doen is volledig onafhankelijk en open source. Dat is de basis van ons DNA: Zie
          %a{:href => "https://github.com/roqua", :target => "_blank"} github.com/roqua
#page-section-career-action.section
  .container
    .row
      .col.s12
        .center
          %a{:href => "mailto:koffie@roqua.nl?subject=Ik kom graag op de koffie"}
            .waves-effect.waves-light.btn-large.beach Ja leuk, ik kom op de koffie!
