---
title: Contact
---
#contact-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.headline
      %span
        %b Contact
#page-section-contact
.section
.container
  .row
    .col.s12.m8.l6
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :width => "350", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2388.7306310386266!2d6.5740821!3d53.222677999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c9cd585710fd79%3A0xca97676f1a1ef7d5!2sUniversity+Medical+Center+Groningen!5e0!3m2!1sen!2snl!4v1441016940321", :style => "border:0"}
    .col.s12.m4.l6.flow-text
      %h5 RoQua Bezoekadres:
      %br
      UMCG, Triade, Ingang 24, KN 1.02
      %br
      Hanzeplein 1
      %br
      9713 GZ  Groningen
      %p
        %a{:href => "mailto:info@roqua.nl?"}
          .waves-effect.waves-light.btn-large.whitesmoke info@roqua.nl
  #page-section-contact-info
  .section
  .row
    .col.s12
      %p
        Gebruik bovenstaand emailadres om ons een vraag te stellen of iets mede te delen. Wij nemen dan zo spoedig mogelijk contact met u op.
      %p
        Respondenten cq cliënten van GGZ instellingen die RoQua gebruiken kunnen het beste via hun eigen GGZ instelling reageren.

      %p
        Medewerkers van GGZ instellingen waar RoQua gebruikt wordt kunnen beter vanuit RoQua het vragenformulier gebruiken (in RoQua icoon linksonder).
