---
title: Home
---
/ Hero
#index-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.cd-headline.letters.type
      %span RoQua
      %br
      %span.cd-words-wrapper.waiting
        %b.is-visible Routine
        %b Outcome
        %b Monitoring

#intro.section.scrollspy
  .container
    .row
      .col.s12
        %h2.center.header.text_h2
          Meten en monitoren
        %h3.center.header.text_h2
          %i
            in zorg & onderzoek
    .row
      .col.s12.m4.l4
        .center.promo.promo-example
          %i.material-icons.large.sunset-font web
          %h5.promo-caption Responsive
          %p.light.center De RoQua technologie is geschikt voor gebruik op diverse mobiele apparaten. Er wordt momenteel een pilot gedraaid met een native iPhone app.
      .col.s12.m4.l4
        .center.promo.promo-example
          %i.material-icons.large.sunset-font new_releases
          %h5.promo-caption Veilig
          %p.light.center Sessies met de web applicatie zijn altijd beveiligd met SSL. HL7 verkeer wordt afgeschermd via VPN's tussen de instellingen en de RoQua server clusters.
      .col.s12.m4.l4
        .center.promo.promo-example
          %i.material-icons.large.sunset-font perm_media
          %h5.promo-caption EPD integratie
          %p.light.center Een van de speerpunten van RoQua is de integratie met bestaande EPD-software zoals: xmCare, Quarant, EZIS, Poliplus en USER®

  .divider
  .dark-sky
    .container
      .section
        .row
          %h2.center.header.text_h2
            SBG-proof
          %p.center.flow-text Wij voldoen aan alle eisen voor het SBG benchmark. RoQua heeft een uitgebreide bibliotheek van vragenlijsten (200+) beschikbaar, waaronder de nieuwste versies van SBG lijsten.
  #info.section.dark-gray-font
    .container
      .section
        .row
          .col.s12
            %h2.text_h.center Eenvoudig te automatiseren
          .col.s12.m6.l4
            %img{:src => @items['/images/roqua_on_laptop/'].path}
          .col.s12.m6.l4.offset-l2
            %p.dropcap-border Met RoQua's automatische protocollen kunt u gemakkelijk periodiek vragenlijsten klaarzetten voor uw patiënten.
            %p De protocollen kunnen volledig automatisch worden gedaan, maar u kunt ze ook op ieder moment handmatig activeren. U kunt zelf een protocol samenstellen of kiezen voor een voor de doelgroep gespecialiseerd protocol.
