---
title: Home
---
/ Hero
#index-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.headline
      %span.small-caps roQua
      %br
      %span.cd-words-wrapper.waiting
        %b.is-visible Routine
        %b Outcome
        %b Monitoring

#page-section-intro.section.scrollspy
  .container
    .row
      .col.s12
        %h2.center.header.text_h2
          Meten en monitoren
        %h3.center.header.text_h2
          %i
            in zorg & onderzoek
    .row
      .col.s12.m4.l4
        .center.promo.promo-example
          %i.mdi-action-perm-media.large.sunset-font
          %h5.promo-caption EPD integratie
          %p.light.center Een van de speerpunten van RoQua is de integratie met bestaande EPD-software zoals: NEXUS/EPD, Quarant, EZIS, Poliplus en USER®
      .col.s12.m4.l4
        .center.promo.promo-example
          %i.mdi-av-new-releases.large.sunset-font
          %h5.promo-caption Beveiligd
          %p.light.center Sessies met de web applicatie zijn altijd beveiligd met SSL. HL7 verkeer wordt afgeschermd via VPN's tussen de instellingen en de RoQua server clusters.
      .col.s12.m4.l4
        .center.promo.promo-example
          %i.mdi-av-web.large.sunset-font
          %h5.promo-caption Responsive
          %p.light.center De RoQua technologie is op aanvraag geschikt voor gebruik op diverse mobiele apparaten. Er wordt momenteel een pilot gedraaid met een native iPhone app.

  #page-section-uitgebreide-vragenlijstbibliotheek
  .divider
  .dark-sky
    .container
      .section
        .row
          %h2.center.header.text_h2
            Uitgebreide vragenlijstbibliotheek
          %p.center.flow-text RoQua heeft een uitgebreide bibliotheek van vragenlijsten (2000+) beschikbaar. RoQua heeft licentie-overeenkomsten met meerdere grote uitgevers om gelicentieerde vragenlijsten aan te mogen bieden. Vragenlijsten die nog niet in de bibliotheek zitten kunnen op verzoek worden toegevoegd.
  #page-section-automatiseren.section.dark-gray-font
    .container
      .section
        .row
          .col.s12
            %h2.text_h.center Eenvoudig te automatiseren
          .col.s12.m6.l5.xl4
            %img{:src => @items['/images/roqua_on_laptop.*'].path}
          .col.s12.m6.l6.xl5.offset-l1.offset-xl1
            %p.dropcap-border Met RoQua's automatische protocollen kunt u gemakkelijk periodiek vragenlijsten klaarzetten voor uw patiënten.
            %p De protocollen kunnen volledig automatisch worden gedaan, maar u kunt ze ook op ieder moment handmatig activeren. U kunt zelf een protocol samenstellen of kiezen voor een voor de doelgroep gespecialiseerd protocol.
