---
title: Information for Researchers
---
#about-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.headline
      %span
        %b Informatie voor onderzoekers
#page-section-team.section.scrollspy
  .container
    %h2.header.text_b Informatie voor onderzoekers
    %p.flow-text
      RoQua is in het UMCG formeel erkend als instrument dat onderzoekers mogen gebruiken om hun onderzoek uit te voeren. RoQua is te omschrijven als: een webbased testmanager voor het online afnemen van vragenlijsten, berekenen van uitkomsten en terugkoppelen van feedback aan zorgprofessional en patiënt.  De data wordt opgeslagen op RoQua-servers onder beheer van het Centrum voor Informatie Technologie (CIT) van de RuG. De database is niet rechtstreeks toegankelijk voor de onderzoeker maar wordt aan de onderzoeker ter beschikking gesteld in overeenstemming met het (getoetste en goedgekeurde) Research Data Management Plan van het betreffende onderzoek. Dit garandeert dat aan geldende privacy en beheersregels wordt voldaan.
    .card-panel.whitesmoke
      %p.flow-text
        De RoQua technologie kent een aantal componenten die  toepassing in onderzoek op verschillende manieren mogelijk maakt. Deze componenten zijn:
      %ul.bullets.flow-text
        %li Een module om vragenlijsten te maken, inclusief de berekening van scores (zoals: somscores van subschalen). Dit is een module die uitsluitend door het RoQua team zelf kan worden gebruikt. Een bibliotheek van meer dan 200 vragenlijsten is al beschikbaar.
        %li Een uitnodigingssysteem voor het online invullen van vragenlijsten (email/sms). Dit uitnodigingssysteem kan zowel handmatig als automatisch worden ingezet.
        %li Een Rapportgenerator waarin standaard rapportages uit de scores van vragenlijsten kunnen worden gemaakt.
    .section
      %p.flow-text
        We kunnen twee routes onderscheiden in het gebruik van RoQua als online testmanager in onderzoek.
        %ol.flow-text
          %li RoQua is geïntegreerd in het EPD van alle RoQua participanten, waaronder het UMCG. Dit impliceert dat dataverzameling bij patiënten, ingeschreven in het EPD, kan worden uitgevoerd door iedereen met toegangsrechten tot dit EPD voor de beoogde doelgroep van patiënten. Dit is de route die ook voor Routine Outcome Monitoring wordt bewandeld. Hierbij kan feedback van uitkomsten worden gegenereerd die door de clinicus direct kan worden ingezien.
          %li Daarnaast heeft RoQua zelf een persoonsregistratiesysteem waarin de onderzoeker respondenten kan invoeren met een aantal informatievelden (zoals het e-mail adres; het telefoonnummer). Dit systeem heet MEDOQ. Het is in dit systeem mogelijk om aan medewerkers in het onderzoek verschillende gebruiksrechten toe te kennen (waaronder: coördinator, dataverzamelaar). De toegang tot het systeem is naast een inlogaccount beveiligd met Google Authenticator. Voor de ingevoerde personen kunnen alle bovenstaande acties, zoals het online uitnodigen om vragenlijsten in te vullen, worden uitgevoerd.  MEDOQ kan ook worden ingericht voor multicenter studies, waarbij elk centrum uitsluitend de data van  het eigen centrum kan zien en de ‘coördinator’ de data van alle centra.
        %p.flow-text
          Voor informatie over het toepassen van RoQua in uw onderzoek kunt u
          %a{:href => "mailto:support@roqua.nl", :target => "_blank"}
            contact met ons opnemen.

      %p.flow-text Enkele onderzoeksprojecten waarin RoQua participeert:
      %ul.bullets.flow-text
        %li
          %a{:href => "https://www.petrapsy.nl/", :target => "_blank", :class => "ileft"}
            PETRA
          (www.petrapsy.nl)
        %li
          %a{:href => "https://www.gripopklachten.nl/", :target => "_blank", :class => "ileft"}
            GRIP
          (www.gripopklachten.nl)
        %li
          %a{:href => "https://www.nesda.nl/", :target => "_blank", :class => "ileft"}
            NESDA
          (www.nesda.nl)
        %li
          %a{:href => "https://www.trails.nl/", :target => "_blank", :class => "ileft"}
            TRAILS
          (www.trails.nl)
        %li
          %a{:href => "https://www.hoegekis.nl/", :target => "_blank", :class => "ileft"}
            HoeGekIsNL
          (www.hoegekis.nl)

