---
title: ROM
---
/ Hero
#rom-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.cd-headline.letters.type
      %span
        %b Routine Outcome Monitoring
#rom-info.section
  .container
    .row
      .col.s12
        %h4.center Routine Outcome Monitoring
      .col.s12
        %p.flow-text.center
          Hier even kort uitleggen wat ROM is en waarvoor het gebruikt wordt.... ac commodo felis diam vitae lacus. Aliquam sit amet elit sapien. Morbi blandit sollicitudin arcu, non tincidunt quam tincidunt non. Nulla odio leo, imperdiet lacinia porttitor quis, 
        %p.flow-text.center
          Pellentesque porta sollicitudin sollicitudin. Phasellus lacinia turpis eu tellus lacinia fermentum. Integer pellentesque a nisi eleifend interdum. Donec sed augue malesuada, vulputate erat eu, pulvinar turpis. Aliquam sagittis sed mi a fringilla. Sed condimentum, erat vitae auctor imperdiet, ante urna finibus dolor

.divider
.section
.container
  .row
    .col.s12
      %h5 Routine Outcome Monitoring Software
    .col.s12
      %p.flow-text
        Roqua ontwikkelt ROM Software... Kort even wat over vertellen
    .col.s12.m6.l4
      %ul.staggered-list.functionalities
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
    .col.s12.m6.l4
      %ul.staggered-list.functionalities
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving

    .col.s12.m6.l4
      %ul.staggered-list.functionalities
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving
        %li 
          %h5
            %a{:href => "https://github.com/roqua/documentation", :target => "_blank"} Instelling
          %p korte beschrijving



:javascript
  Materialize.scrollFire([{ selector:".functionalities", offset: 300, callback: 'Materialize.showStaggeredList(".functionalities")' }]);
