---
title: ROM
---
/ Hero
#rom-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.cd-headline.letters.type
      %span
        %b Routine Outcome Monitoring
#rom-info.section
  .container
    .row
      .col.s12
        %h4.center Routine Outcome Monitoring
      .col.s12
        %p.flow-text.center
          Hier even kort uitleggen wat ROM is en waarvoor het gebruikt wordt....
          ROM (Routine Outcome Monitoring) als instrument om voortgang in de behandelingen te meten
          ac commodo felis diam vitae lacus. Aliquam sit amet elit sapien. Morbi blandit sollicitudin arcu, non tincidunt quam tincidunt non. Nulla odio leo, imperdiet lacinia porttitor quis,
        %p.flow-text.center
          Pellentesque porta sollicitudin sollicitudin. Phasellus lacinia turpis eu tellus lacinia fermentum. Integer pellentesque a nisi eleifend interdum. Donec sed augue malesuada, vulputate erat eu, pulvinar turpis. Aliquam sagittis sed mi a fringilla. Sed condimentum, erat vitae auctor imperdiet, ante urna finibus dolor
#rom-software
  .divider
  .section
  .container.white-text
    .row
      .col.s12
        %h5.text_h.center.header Roqua Routine Outcome Monitoring
      .col.s12
        %p.flow-text.center
          Roqua wordt gebruikt als ondersteunend instrument bij de behandeling en zorgt voor een betere feedback voor de patiënt. RoQua is een web applicatie welke als een SAAS (Software As A Service) product wordt aangeboden.

  .divider
.section
.container
  .row
    .col.s12
      %h5.center Onze klanten
    .col.s11.m10.l6.offset-s1.offset-m2.offset-l1
      %ul.staggered-list.functionalities
        %li
          %p
            %a{:href => "http://www.ggzcentraal.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_centraal/'].path}
        %li
          %p
            %a{:href => "https://www.umcg.nl/NL/UMCG/Afdelingen/Universitair_Centrum_Psychiatrie/Paginas/default.aspx", :target => "_blank"}
              %img{:src => @items['/images/ucp/'].path}
        %li
          %p
            %a{:href => "http://www.ggzoostbrabant.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_oost_brabant/'].path}
        %li
          %p
            %a{:href => "https://www.accare.nl/", :target => "_blank"}
              %img{:src => @items['/images/accare/'].path}
        %li
          %p
            %a{:href => "https://www.ggzfriesland.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_friesland/'].path}


    .col.s11.m10.l5.offset-s1.offset-m2
      %ul.staggered-list.functionalities
        %li
          %p
            %a{:href => "https://www.lentis.nl/", :target => "_blank"}
              %img{:src => @items['/images/lentis/'].path}
        %li
          %p
            %a{:href => "https://www.ggzdrenthe.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_drenthe/'].path}
        %li
          %p
            %a{:href => "hhttp://www.ggzwnb.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_wnb/'].path}


:javascript
  Materialize.scrollFire([{ selector:".functionalities", offset: 300, callback: 'Materialize.showStaggeredList(".functionalities")' }]);
