---
title: ROM
---
/ Hero
#rom-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.headline
      %span
        %b Routine Outcome Monitoring
#rom-info.section
  .container
    .row
      .col.s12
        %h4.center Routine Outcome Monitoring
      .col.s12
        %p.flow-text.center
          Routine Outcome Monitoring beoogt door middel van regelmatige metingen (meestal door middel van vragenlijsten) de vooruitgang in de behandeling te meten.  Het primaire doel is daarmee de behandelaar en de patiënt van zinvolle en betrouwbare informatie te voorzien waarmee ze samen de voortgang van de behandeling kunnen evalueren.
        %p.flow-text.center
          Uit onderzoek blijkt dat ook een geringe vooruitgang blijkend uit ROM metingen al een motiverend invloed op patiënten kan hebben (Youn e.a., 2012). Bovendien kunnen ROM metingen de behandelaren ook alert maken op behandeltrajecten die slecht verlopen zodat eerder ingegrepen kan worden. Op die manier kan ROM de doelmatigheid in de zorg verbeteren.
#rom-software
  .divider
  .section
  .container.white-text
    .row
      .col.s12
        %h5.text_h.center.header RoQua Routine Outcome Monitoring
      .col.s12
        %p.flow-text.center
          RoQua combineert inhoudelijke GGZ kennis van een sterk universitair centrum met innovatieve software ontwikkeling, eveneens met sterke input van de universiteit (RuG) en het HBO. De lijnen met de participerende instellingen en het RoQua team zijn kort en direct en daarom kunnen ROM wensen snel en flexibel worden uitgevoerd.

  .divider
.section
.container
  .row
    .col.s12
      %h5.center Onze klanten
    .col.s11.m10.l6.offset-s1.offset-m2.offset-l1
      %ul.staggered-list.functionalities
        %li
          %p
            %a{:href => "http://www.ggzcentraal.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_centraal/'].path}
        %li
          %p
            %a{:href => "https://www.umcg.nl/NL/UMCG/Afdelingen/Universitair_Centrum_Psychiatrie/Paginas/default.aspx", :target => "_blank"}
              %img{:src => @items['/images/ucp/'].path}
        %li
          %p
            %a{:href => "http://www.ggzoostbrabant.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_oost_brabant/'].path}
        %li
          %p
            %a{:href => "https://www.accare.nl/", :target => "_blank"}
              %img{:src => @items['/images/accare/'].path}
        %li
          %p
            %a{:href => "https://www.ggzfriesland.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_friesland/'].path}


    .col.s11.m10.l5.offset-s1.offset-m2
      %ul.staggered-list.functionalities
        %li
          %p
            %a{:href => "https://www.lentis.nl/", :target => "_blank"}
              %img{:src => @items['/images/lentis/'].path}
        %li
          %p
            %a{:href => "https://www.ggzdrenthe.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_drenthe/'].path}
        %li
          %p
            %a{:href => "hhttp://www.ggzwnb.nl/", :target => "_blank"}
              %img{:src => @items['/images/ggz_wnb/'].path}


:javascript
  Materialize.scrollFire([{ selector:".functionalities", offset: 300, callback: 'Materialize.showStaggeredList(".functionalities")' }]);
