---
title: ROM
---
/ Hero
#rom-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.headline
      %span
        %b Routine Outcome Monitoring
#page-section-rom-info.section
  .container
    .row
      .col.s12
        %h4.center Routine Outcome Monitoring
      .col.s12
        %p.flow-text.center
          Routine Outcome Monitoring beoogt door middel van regelmatige metingen (meestal door middel van vragenlijsten) de vooruitgang in de behandeling te meten.  Het primaire doel is daarmee de behandelaar en de patiënt van zinvolle en betrouwbare informatie te voorzien waarmee ze samen de voortgang van de behandeling kunnen evalueren.
        %p.flow-text.center
          Uit onderzoek blijkt dat ook een geringe vooruitgang blijkend uit ROM metingen al een motiverend invloed op patiënten kan hebben (Youn e.a., 2012). Bovendien kunnen ROM metingen de behandelaren ook alert maken op behandeltrajecten die slecht verlopen zodat eerder ingegrepen kan worden. Op die manier kan ROM de doelmatigheid in de zorg verbeteren.
#page-section-rom-roqua
#roqua-rom
  .divider
  .section
  .container.white-text
    .row
      .col.s12
        %h5.text_h.center.header RoQua Routine Outcome Monitoring
      .col.s12
        %p.flow-text.center
          RoQua combineert inhoudelijke GGZ kennis van een sterk universitair centrum met innovatieve software ontwikkeling, eveneens met sterke input van de universiteit (RuG) en het HBO. De lijnen met de participerende instellingen en het RoQua team zijn kort en direct en daarom kunnen ROM wensen snel en flexibel worden uitgevoerd.

  .divider
#page-section-participanten
  .section
  .container
    .row
      .col.s12
        %h5.center Onze participanten
      .col.s11.m10.l6.offset-s1.offset-m2.offset-l1
        %ul.staggered-list.functionalities
          %li
            %p
              %a{:href => "http://www.ggzcentraal.nl/", :target => "_blank"}
                %img.almost-full{:src => @items['/images/ggz_centraal/'].path}
          %li
            %p
              %a{:href => "https://www.umcg.nl/NL/UMCG/Afdelingen/Universitair_Centrum_Psychiatrie/Paginas/default.aspx", :target => "_blank"}
                %img.almost-full{:src => @items['/images/ucp/'].path}
          %li
            %p
              %a{:href => "http://www.ggzoostbrabant.nl/", :target => "_blank"}
                %img.almost-full{:src => @items['/images/ggz_oost_brabant/'].path}
          %li
            %p
              %a{:href => "https://www.accare.nl/", :target => "_blank"}
                %img.almost-full{:src => @items['/images/accare/'].path}
          %li
            %p
              %a{:href => "https://www.ggzfriesland.nl/", :target => "_blank"}
                %img.almost-full{:src => @items['/images/ggz_friesland/'].path}


      .col.s11.m10.l5.offset-s1.offset-m2
        %ul.staggered-list.functionalities
          %li
            %p
              %a{:href => "https://www.lentis.nl/", :target => "_blank"}
                %img.almost-full{:src => @items['/images/lentis/'].path}
          %li
            %p
              %a{:href => "https://www.ggzdrenthe.nl/", :target => "_blank"}
                %img.almost-full{:src => @items['/images/ggz_drenthe/'].path}
          %li
            %p
              %a{:href => "hhttp://www.ggzwnb.nl/", :target => "_blank"}
                %img.almost-full{:src => @items['/images/ggz_wnb/'].path}

#page-section-powered-by-roqua
.section
  .ocean
    .divider
    .container
      .row
        .col.s12
          %h2.center.header.text_h2
            Powered by RoQua
          %p.center.flow-text
            Diverse onderzoeksprojecten maken gebruik van online monitoring met RoQua
  #triangle-down-ocean
.section
.container
  .row
    .col.s11.m10.l10.offset-s1.offset-m2.offset-l1
      %ul
        %li#page-section-hoegekis
          %p
            .row
              .col.s12.m3.l2
                %a{:href => "https://www.hoegekis.nl/", :target => "_blank", :class => "ileft"}
                %img.almost-full{:src => @items['/images/hoegekisnl/'].path}
              .col.s12.m9.l10
                %a{:href => "https://www.hoegekis.nl/", :target => "_blank"}
                  %b HoeGekIsNL
                is een initiatief van het Interdisciplinair Centrum Psychopathologie en Emotieregulatie (ICPE), onderdeel van de Rijksuniversiteit Groningen (RuG).
                Via HoeGekIsNL brengen zij de psychische klachten en krachten van Nederlanders in kaart en kijken ze welke patronen daarin te ontdekken zijn.
        %li#page-section-nofun
          %p
            .row
              .col.s12.m3.l2
                %a{:href => "http://www.nofunnoglory.nl/", :target => "_blank", :class => "ileft"}
                %img.almost-full{:src => @items['/images/no-fun-no-glory/'].path}
              .col.s12.m9.l10
                %a{:href => "http://www.nofunnoglory.nl/", :target => "_blank"}
                  %b No Fun No Glory -
                Verlies komt vaak voor bij jongeren en jong volwassenen. Maar liefst 1 op de 5 jongeren kent periodes waarin geen plezier meer wordt beleefd aan dingen die eerder wel als plezierig werden ervaren. Er is tot nu toe weinig bekend over verschillende vormen van plezier verlies en hoe vaak deze vormen voorkomen in de bevolking. No Fun No Glory onderzoekt dit in een grote groep jongvolwassenen in de leeftijd van 18-24 jaar.
        %li#page-section-leefplezier
          %p
            .row
              .col.s12.m3.l2
                %a{:href => "http://www.leefplezier.com/", :target => "_blank", :class => "ileft"}
                %img.almost-full{:src => @items['/images/leefplezier/'].path}
              .col.s12.m9.l10
                %a{:href => "http://www.leefplezier.com/", :target => "_blank"}
                  %b Leefplezier -
                Breng uw leefplezier in kaart met behulp van de Leefplezier app. Houd uw persoonlijke dagboek bij en ondersteun het wetenschappelijke onderzoek van de Rijksuniversiteit Groningen. Welke factoren beïnvloeden uw Leefplezier en in welke mate? Wat maakt dat u zich gelukkig voelt en wat juist niet?
        %li#page-section-trails-next
          %p
            .row
              .col.s12.m3.l2
                %a{:href => "http://www.trails.nl/hoofdmenu/next-generation", :target => "_blank", :class => "ileft"}
                %img.almost-full{:src => @items['/images/trails_next/'].path}
              .col.s12.m9.l10
                %a{:href => "http://www.trails.nl/hoofdmenu/next-generation", :target => "_blank"}
                  %b TRAILS – Tracking the next generation -
                Dit onderzoek richt zich op
                %a{:href => "http://www.trails.nl/", :target =>"_blank"} TRAILS
                deelnemers die in de komende 10 jaar vader of moeder zullen worden (of al zijn) en hun kinderen. Nu de volgende generatie zich begint aan te dienen, is er een unieke gelegenheid om vast te stellen hoe kenmerken van TRAILS-deelnemers samenhangen met de ontwikkeling van hun kinderen en de manier waarop ouders en kinderen met elkaar omgaan.

:javascript
  Materialize.scrollFire([{ selector:".functionalities", offset: 300, callback: 'Materialize.showStaggeredList(".functionalities")' }]);
