%li
  .waves-effect.waves-block.waves-light
    = link_to 'Home', @items['/'].path
%li
  .waves-effect.waves-block.waves-light
    = link_to 'ROM', @items['/rom/'].path
%li
  .waves-effect.waves-block.waves-light
    = link_to 'About', @items['/about/'].path
%li
  .waves-effect.waves-block.waves-light
    = link_to 'Contact', @items['/contact/'].path
